/*左侧物品摆动效果*/
@-webkit-keyframes hinge {
	0% {
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	20%{
		-webkit-transform: rotate3d(0, 0, 1, -4deg);
		transform: rotate3d(0, 0, 1, -4deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, 2deg);
		transform: rotate3d(0, 0, 1, 2deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		opacity: 1;
	}
	60% {
		-webkit-transform: rotate3d(0, 0, 1, -1deg);
		transform: rotate3d(0, 0, 1, -1deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}
	80% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		opacity: 1;
	}

	100% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0,  0px, 0);
		opacity: 1;
	}
}

@keyframes hinge {
	0% {
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	20%{
		-webkit-transform: rotate3d(0, 0, 1, -4deg);
		transform: rotate3d(0, 0, 1, -4deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}

	40% {
		-webkit-transform: rotate3d(0, 0, 1, 2deg);
		transform: rotate3d(0, 0, 1, 2deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		opacity: 1;
	}
	60% {
		-webkit-transform: rotate3d(0, 0, 1, -1deg);
		transform: rotate3d(0, 0, 1, -1deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
	}
	80% {
		-webkit-transform: rotate3d(0, 0, 1, 0deg);
		transform: rotate3d(0, 0, 1, 0deg);
		-webkit-transform-origin: top;
		transform-origin: top;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		opacity: 1;
	}

	100% {
		-webkit-transform: translate3d(0, 0px, 0);
		transform: translate3d(0,  0px, 0);
		opacity: 1;
	}
}

