
/**
*
* 常量
*
**/


/*颜色*/

$white:#fff;
$blue:#3299de;
$theme-color:#fa6a38;
$dark-green:#44bb95;
$light-green:#84cc5c;
$red:#f36362;
$divide-line:#d5d5d5;
$list-info-color:#c1c1c1;
$footer-font-color:#ffffff;

/*二级页面鼠标移入list的颜色*/
$list-active-color:#f6f6f6;
$list-active-border-color:#fb8a8c;



/* 字体 */
$title-font:18px;
$header-font:20px;

/*隐藏的搜索按钮右偏移距离*/
$serach-button-right:114px;