
/* Custom page header */
.header {
	background-color: #fff;
	height: 113px;
	line-height: 113px;
	.header-content{
		width: 1000px;
		margin: 0 auto;
	}

}
.header-content .logo{
	float: left;
}
.header-content .search-bar{
	width: 500px;
	margin:30px 0 0 50px;
	float: left;
	input{
		float: left;
		height: 50px;
		border: none;
		border-top: 1px solid #fe0000;
		border-bottom: 1px solid #fe0000;
		width: 336px;
		outline: none;
		line-height: 50px;
		font-size: 17px;
	
	}
	.search-left{
		float: left;
		width: 30px;
		height:50px;
		border:1px solid #fe0000;
		border-top-left-radius: 25px;
		border-bottom-left-radius: 25px;
		border-right: none;
	}
	.search-right{
		float: left;
		width: 114px;
		height: 50px;
		background-color: $theme-color;
		border-top-right-radius: 25px;
		border-bottom-right-radius: 25px;
		line-height: 50px;
		color: $white;
		font-size: 21px;
		text-align: right;
		padding-right: 40px;
		cursor:default;
		transition:all 0.3s ease-in;
		overflow: hidden;
		position: relative;
	}
	.active-text{
		height: inherit;
		width: 50px;
		right: $serach-button-right;
		position: absolute;
		display: inline-block;
		span{
			cursor: pointer;
			font-size: 18px;
		}
		span:hover{
			border: 1px solid #fff;
			border-radius: 10px;
			padding: 3px;
			margin-right: -4px;
		}
	}
	.jianzhi{
		right: 50+$serach-button-right;
	}
   /* .actived{
		margin-left: -120px;
		width: 234px;
	}*/
	.search-right:hover{
		margin-left: -120px;
		width: 234px;
	}

}

.header-content .text{
	float: right;
	font-size: $header-font;
	color: $theme-color;
	margin-right: 10px;

	span{
	   display: inline-block;
	   padding-left: 40px;
	   font-size: 20px;

   }
   a{
	padding-bottom: 5px;
	/*border: 2px solid $theme-color;*/
	color: $theme-color;
	}
	a:hover{
		border-bottom: 2px solid $theme-color;
	}
}

