
/*正文部分*/
.main{
    float: left;
    width: 810px;
    margin-left: 27px;
    margin-top: 18px;
}

/*导航*/
.main .nav-bar{
    background-color: #fa6a38;
    height: 60px;
    display: block;
    &>li{
        float: left;
        display: block;
        width: 33.3%;
        text-align: center;
        font-size: $title-font;
        line-height: 60px;
        color: $white;
        border-left: #fb7447 solid 1px;
        border-right: #e46135 solid 1px;
        cursor: pointer;
        position: relative;
    }
    .show{
        opacity:1 !important;

    }
    .choose-menu{
        transition:all 0.2s ease-out;
        opacity: 0;
        position: absolute;
        width: 100%;
        height: 200px;
        background-color: #f4f4f4;
        li{
            line-height: 50px;
            font-size: 17px;
            text-align: left;
            padding-left: 35px;
            display: block;
            color: #333;
            border-bottom:1px solid #d3d3d3;
        }
        li.actived{
            color: $theme-color;
        }

        /*边框效果*/
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
        -webkit-box-shadow: #e1e1e1 px -1px 1px 2px;
        -moz-box-shadow: #e1e1e1 -1px 1px 2px;
        box-shadow: #e1e1e1 -3px 2px 3px;


    }

}


/* 块 */
.segment{
    background-color: #fff;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    padding-top: 20px;
}

/*贴在右方的小标题*/
.pin-title{
    width: 127px;
    background-color: $theme-color;
    text-align: center;
    padding-top:8px;
    padding-bottom: 8px;
    margin-left: -32px;
    color: #fff;
    display: inline-block;
    position: relative;
}

.pin-arrow {
position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: -7px;
  border-bottom: 7px solid;
  border-left: 14px solid transparent;
  color: #ba421d;
}
.dark-green-arrow{
    color: #2a8b6c;
}

/*分页条*/
.page{
    margin-top: 20px;
    width: inherit;
    text-align: center;
    ul{
        display: inline-block;
        margin: 0 auto;
        overflow: auto;
        li{
            float: left;
            margin-right:10px;
            a{
                display: block;
                background-color: #44bb95;
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                color: $white;
                font-size: 16px;
            }
            .next{
                width: 60px;
            }
            .active{
                background-color: $theme-color;
            }
        } 
    }
}