/*图片轮播*/
.slider{
    margin-top: 18px;
    background-color: #1dd2af;
    height: 196px;
}
 .demo_nav{padding:10px; width:80%; height:80px; margin:10px auto}
.demo_nav li{float:left; padding:4px 10px;}
.demo_nav li a.cur{font-weight:bold}
.demo{clear:both; position:relative; margin:20px auto; width:80%; }
 ul.bxslider li{position:relative}
 ul.bxslider li img {margin: 0 auto;height: 196px;width: 100%;} 