
/*顶栏*/
.top-bar{
    padding:0 10px 0 10px;
    width: 1000px;
    margin: 0 auto;
    height: 40px;
    color: #fa6a38;
    font-size: 17px;
    line-height: 40px;
    a{color: #fa6a38}
    p{
        float: left;
    }
    ul{
        float: right;
        display: inline;
        li{
            float: left;
        }
    }

}