.detail>.detail-bar,
.detail>.title,
.detail>.info,
.detail>.description,
.detail>.contact,
.detail>.segment,
.detail>.comment{
	padding-left:37px;
	font-size: 19px;
}
.detail .pin-title{
	margin-left: -50px;
}

.detail p>span{
	color: #474747;
}

.detail>.detail-bar{
	background-color: #fff;
	height: 68px;
	line-height: 60px;
	border-bottom: 8px solid $theme-color;
	font-size: 20px;
	color: $theme-color;
	text-align: center;
	span{
		font-size: 24px;
	}
	p{
		padding-right: 20px;
	}
}

.detail>.title{
	padding-top: 22px;
	
	border-bottom: 2px solid $theme-color;
	background-color: #fff;
	p{
		border-left: 8px solid $theme-color;
		padding-left: 10px;
		font-size: 24px;
	}
	span{
		display: inline-block;
		padding-top: 20px;
		padding-bottom: 20px;
		padding-right: 70px;
		font-size: 17px;
		color: $theme-color;
	}
}

.detail>.info{
	background-color: #fff;
	padding-left: 37px;
	padding-bottom: 30px;
	p{
		padding-top: 10px;
	}
	.money{
		padding-top: 21px;
		padding-bottom: 5px;
		span{
			display: inline-block;
			color: $theme-color;
			font-size: 42px;
			padding-right: 20px;
		}
	}
}

.detail>.description{
	margin-top: 22px;
	padding-top: 20px;
	background-color: #fff;
	border-bottom: 1px solid #c0c0c0;
	padding-bottom: 30px;
	p{padding-top: 10px;}
}

.detail .contact{
	background-color: #fff;
	padding-top: 30px;
	padding-bottom: 30px;
	p{
		border-left: 8px solid $theme-color;
		padding-left: 10px;
		display: inline-block;;

	}
	.phone{
		border: 0;
		padding-left: 40px;
		span{
			color: $theme-color;
		}
	}
}

/*下面是简历的三级页面css，从之前手机端复制过来的，所以代码看起来有些魔幻*/
/*======resume-info======*/
.resume-info{
  margin-left: 190px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-left: 1px solid #e7e7e7;
  padding-left: 20px;
  font-size:20px;
  line-height: 32px;
  color: #000;

}
.resume-info img{
  float: left;
  margin-left: -190px;
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 155px;
}

.resume-detail{
  border-top: 2px solid ;
  border-bottom: 2px solid ;
  width: 100%;
  position: relative;
  font-size: 18px;
  display:table;
  p{
    margin-bottom: 0px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 15px;
     background-color: #fff;
     word-break:break-all;
     line-height: 30px;

  }
  .title{
    width: 150px;
    margin: 0;
    color: #fff;
    font-size: 22px;
    text-align: center;
    height: 100%;
    vertical-align:middle;
    display:table-cell;
  }
}
.resume-arrow {
  margin-bottom: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-left: 55px;
  border-top: 14px solid;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent;
}

.resume-contact p{
   padding-top: 8px;
     padding-bottom: 8px;
}



/**下面是二手物品部分**/
.sh-main.segment{
	padding-left: 0px;
	padding-top: 0px;
}
.sh-main .pics{
	width: 600px;
	height: 450px;
	background-color: #ccc;
	overflow: auto;
}
.sh-info{
	overflow: auto;
	width: 200px;
	height: 450px;
	margin-right: 5px;
	p.sh-price{
		margin: 0 auto;
		width: 155px;
		height: 50px;
		font-size: 30px;
		color: white;
		line-height: 50px;
		text-align: center;
		margin-top: 20px;
	}
}



/*两个箭头重叠做成空心箭头*/
.bubble-arrow {
    border-color: $dark-green transparent transparent transparent;
    border-width: 10px;
    border-style: solid;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -21px;
    left: 69px;
}
.bubble-arrow-inner {
    border-color: #fff transparent transparent transparent;
    border-width: 9px;
    border-style: solid;
    width: 0;
    height: 0;
    position: absolute;
    bottom: -18px;
    left: 70px;
}


/*这部分主要是二手右侧*/
.sh-info .sh-block{
	color: #666;
	overflow: auto;
	margin:15px auto 0;
	width: 155px;
	img{
		width: 38px;
		height:38px;
		border: 1px solid $theme-color;
		border-radius: 38px;
		padding: 3px;
		float: left;
		margin-right: 15px;
	}
	.title{
		text-align: center;
		border-bottom: 1px solid $dark-green;
		padding-bottom: 5px;
		margin-bottom: 18px;
		position: relative;
		color: $dark-green;
		position: relative;
	}
	.name{
		span{
			font-size: 14px;
			color: $theme-color;
		}
		p{
			font-size: 15px;
		}
	}
	.sh-contact{
		margin-left: 10px;
		font-size: 17px;
		p{
			margin-top: 10px;
		}
	}
	.place{
		text-align: center;
		font-size: 16px;
		padding-left: 5px;
		padding-right: 5px;
	}
	span.dot{
		display: inline-block;
		width: 12px;
		height: 12px;
		background-color: $dark-green;
		border-radius: 12px;
		position: absolute;
		left: 12px;
		top:7px;
	}
}

/*兼职标题，以及发布时间*/
.sh-main>span{
	display: inline-block;
	margin-top: 20px;
	font-size: 15px;
	color: #666;
	margin-right: 25px;
}
.sh-main>span.fr{
	margin-top: 25px;
}
.sh-main>.sh-title{
	font-size: 24px;
	margin-left: 25px;
}



.sh-description{
	div{
		margin-top: 20px;
		overflow: auto;
	}
	img{
		width: 67px;
		height: 67px;
		border-radius: 67px;
		float: left;
		padding:4px;
		border: 1px solid $theme-color;

	}
	span{
		float: left;
		display: inline-block;
		margin-left: 20px;
		margin-top: 12px;
		max-width: 660px;
		color: #666;
	}
}








/*评论部分*/
.comment{
	padding-top: 20px;
	position: relative;
	margin-top: 20px;
	background-color: #fff;
	height: 590px;
	
}

.comment .operates{
	position:relative;
	width: 444px;
	height: 120px;
	left: 50%;
	margin-left: -222px;
	.operate{
		color: $theme-color;
		float: left;
		margin-right: 50px;
		text-align: center;
		span{
			display: inline-block;
			border: 1px solid $theme-color;
			width: 60px;
			height: 60px;
			line-height: 60px;
			border-radius:60px;
			font-size: 30px;
		}
		.text{
			font-size: 15px;
			border: 1px solid #c0c0c0;
			color: #c0c0c0;
		}
		p{
			margin-top: 8px;
		}
	}
}
.comment .content,
.comment .review-bar{
		img{
		width: 67px;
		height: 67px;
		border-radius: 67px;
		border: 1px solid $theme-color;
		padding: 4px;
		float: left;
		margin-right: 20px;
	}
}
.comment .content{
	div{
		overflow:auto;
		border-top: 1px dashed #bdbdbd;
		border-bottom: 1px dashed #bdbdbd;
		padding-top: 10px;
		padding-bottom: 10px;
		padding-right: 30px;
	}

	p{
		padding-top: 8px;
		padding-bottom: 8px;
	}
	span{
		color: #676767;
		font-size: 17px;
	}
}

.comment .review-bar {
	margin-top: 30px;
	img{
		margin-top: -5px;
	}
	input{
		width: 380px;
		padding-left: 10px;
		outline: none;
		height: 57px;
		border: 2px solid #80d0b7;
		font-size: 19px;
		float: left;
		color: #80d0b7;
	}
	span{
		display: inline-block;
		background-color: #80d0b7;
		height: 57px;
		width: 89px;
		color: #fff;
		line-height: 57px;
		text-align: center;
		cursor: pointer;

	}
}

