
/*兼职二级页面*/

.joblist .lists,.resumelist .lists{
	background-color: $white;  
}

.joblist .lists .list:hover{
	/*变色*/
	background-color: $list-active-color;
	border-bottom: 1px solid $list-active-border-color;

}
.joblist .lists .list:hover .list-type{
	background-color: #fff;
	border: 2px solid #eebc5b;
	transition:all 0.2s ease-in;
}
.joblist .lists .list:hover .list-type span{
	color: #eebc5b;
	line-height: 61px;
	transition:all 0.2s ease-in;
}
.joblist .lists .list{
	padding:10px 0 10px 0; 
	overflow: auto;
	border-bottom: 1px solid $divide-line;
	.list-type{
		float: left;
		background-color: #eebc5b;
		

		width: 65px;
		height: 65px;
		border-radius: 65px;
		margin: 0 15px 0 15px;
		text-align: center;
		span{
			line-height: 65px;
			font-size: 18px;
			color: #fff;
			
		}
	}
	.list-title{
		font-weight: bold;
		font-size: 16px;
		padding-top: 13px;
		span{
			font-size: 14px;
			font-weight: normal;
			color: $theme-color;
		}
	}
	&>span{
		color: $list-info-color;
		font-size: 15px;
	}
}


