.resumelist .list{
	 display:table;
	 width: 100%;
}
.resumelist .list:hover{
	border-bottom: 1px solid #b68879 !important;
	background-color: #f6f6f6;
}
.resumelist .lists .list{
	cursor: pointer;
	padding:10px 0 10px 0; 
	overflow: auto;
	border-bottom: 1px solid $divide-line;
	img{
		float: left;
		background-color: #eebc5b;
		width: 107px;
		height: 107px;
		border-radius: 107px;
		margin: 0 15px 0 15px;
		text-align: center;
		span{
			line-height: 65px;
			font-size: 18px;
			color: #fff;
			
		}
	}
	&>div{
		display: table-cell;
		vertical-align: middle;
		min-width: 650px;
	}
	.intent-title{
		background-color: $theme-color;
		color: #fff;
		display: inline-block;
		padding: 2px;
		border-radius: 5px;
	}
	.info,p{
		margin-top: 10px;
		margin-bottom: 8px;
		font-size: 20px;
		i,span{
			font-weight: normal;
			font-size: 17px;
			margin-right: 
		}
	}
	.fr{
		margin-right: 30px;
		text-align: right;
		span{
			font-size: 15px;
			color: #9a9a9a;
			padding-left: 30px;
		}
	}

}