.shlist .nav-bar{
	background-color: #5fc4a4;
	&>li{
		 border-left: #56b396 solid 1px;
        border-right: #6ac7aa solid 1px;
	}
}

/*sh相关部分css放在index.scss中*/

.shlist .sh-slip{
	margin-top: 20px !important;
	margin-bottom: 0px;
}
