.segment .nav ul:after{
    display: block;
    content:"clear";
    height:0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}
.segment .nav ul li{
    float:left;
    box-sizing: border-box;
    height: 40px;
    margin: 0 20px 12px 10px;
}
.segment .nav ul li.active,
.segment .nav ul li:hover{
    border-bottom: 1px solid #4ccda4;
}

.segment .nav a{
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #4ccda4;
    font-size: 20px;
}
.segment{
    padding-right: 20px;
}
.note-table{
    border-collapse: collapse;
    width: 100%;
}



.note-table th,.note-table td {
    font-size: 16px;
    padding: 20px 8px 20px 8px;
    border-bottom: 1px solid #e8e8e8;
}
.note-table th{
    text-align: left;
    color: #b6b6b6;
    padding: 8px;
}

.note-table .note-poster{
    padding: 5px;
    background-color: #4bcea4;
    color: #fff;
    margin-left: -5px;
}
.note-table .note-poster-a{
    background-color: #e84936;
}

.note-table .note-content{
     font-size: 18px;
     color: #4bcea4;
}
.note-table .note-content:hover{
    /*color: #4ee1b6;*/
}

.note-table tr.read .note-content,
.note-table tr.read .note-time,
.note-table tr.read .bell-btn i{
    color:#f2dede;
    cursor:default;
}
.note-table tr.read .note-poster{
    background-color: #f2dede;
}

.operate{
    margin-top: 20px;
    font-size: 16px;
}

.operate input[type=checkbox]{
    margin: 0 5px 0 8px;
}

.note-del-btn,.bell-btn, .operate button{
    outline:none;
    cursor: pointer;
    border: 0;
    background-color: #fff;
}

.bell-btn i{
    font-size: 20px;
    color: #4bcea4;
}
.bell-btn i:hover{
    color: #43b990;
}

.note-del-btn i{
    font-size: 22px;
}
.note-del-btn i:hover{
    color: #f94a37;
}
.note-del-btn i:active{
    color: #cd4835;
}

.operate button{
    padding: 8px;
    margin-left:  10px;
    background-color: #e84936;
    color: #fff;
    border-radius: 5px;
}
.operate button:hover{
    background-color: #f94a37;
}
.page a{
    color:#4bcea4;
}
.page a:hover{
    color: #43b990;
}

