/*global*/

/*覆盖*/

body {
    background-color: #f4f4f4;
}
a:hover {
    text-decoration: none;
}


/*post header*/

.post-header-wrapper {
    margin-bottom: 15px;
    height: 80px;
    background-color: #4ccda4;
    text-align: center;
    color: #fff;
}
.post-header {
    display: inline-block;
}

/*post nav*/

.user-nav ul .active{
    background-color: #4ccda4;
}
.user-nav ul .active a{
  color: #fff !important;
}

/* job post */

.wage {
    float: left;
}
.input-unit {
    float: left;
    line-height: 2em;
}
label {
    font-weight: normal;
}


/*shpost*/

input[name=sellPrice] {
    float: left;
}
.img-list-wrapper {
    background-color: #eee;
    padding: 10px;
}
.img-list-btn,
.img-list-item {
    float: left;
    margin-right: 10px;
    position: relative;
}
.img-list-btn,
.img-list-img {
    width: 200px;
    height: 150px;
    text-align: center;
}
.img-list-btn .btn-add {
    display: block;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    background: url(/images/user/camera.png) no-repeat 48% 40%;
}
.btn-img-del {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 12px;
    background-color: #fff;
    text-align: center;
    line-height: 13px;
    color: #4ccda4;
    cursor: pointer;
}


/* 通用 */
.asterisk-red {
    color: #fa6a38;
}
.input-short {
    width: 140px;
}
