/*post nav*/
.user-nav ul .active{
    background-color: #4ccda4;
}
.user-nav ul .active a{
  color: #fff !important;
}

/* job post */
.wage {
    float: left;
}
.input-unit {
    float: left;
    line-height: 2em;
}
label {
    font-weight: normal;
}

/*覆盖*/
body {
    background-color: #f4f4f4;
}
a:hover {
    text-decoration: none;
}

/* 通用 */
.asterisk-red {
    color: #fa6a38;
}
