/*global*/

.user form .form-group {
    margin-left:    85px;
}


/*覆盖*/

body {
    background-color: #f4f4f4;
}
a:hover {
    text-decoration: none;
}


/*post header*/

.post-header-wrapper {
    margin-bottom: 15px;
    height: 80px;
    background-color: #4ccda4;
    text-align: center;
    color: #fff;
}
.post-header {
    display: inline-block;
}

/*post nav*/

.user-nav ul .active{
    background-color: #4ccda4;
}
.user-nav ul .active a{
  color: #fff !important;
}

/* job post */

.wage {
    float: left;
}
.input-unit {
    float: left;
    line-height: 2em;
}
label {
    font-weight: normal;
}


/* 通用 */
.asterisk-red {
    color: #fa6a38;
}
.input-short {
    width: 140px;
}
