<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- Class Driver Path -->
    <classPathEntry location="/Users/whf/.m2/repository/mysql/mysql-connector-java/5.1.6/mysql-connector-java-5.1.6.jar" />

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <!-- This property is used to specify whether MBG will include any coments in the generated code -->
            <property name="suppressAllComments" value="false"/>
            <!-- This property is used to specify whether MBG will include the generation timestamp in the generated comments -->
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://127.0.0.1:3306/taolijie?characterEncoding=utf-8" userId="root" password="111111"/>

        <javaTypeResolver>
            <!-- This property is used to specify whether MyBatis Generator should force the use of java.math.BigDecimal
      for DECIMAL and NUMERIC fields, rather than substituting integral types when possible -->
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.fh.taolijie.domain" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED">
            <!-- This property is used to select whether MyBatis Generator will generate different Java packages for
      the objects based on the catalog and schema of the introspected table -->
            <property name="enableSubPackages" value="false"/>
            <!-- This property is used to select whether MyBatis Generator adds code to trim the white space from character fields returned from the database -->
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="com.fh.taolijie.dao.mapper.xml" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED">
            <!-- This property is used to select whether MyBatis Generator will generate different Java packages for
      the objects based on the catalog and schema of the introspected table -->
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

        <javaClientGenerator targetPackage="com.fh.taolijie.dao.mapper" targetProject="THIS_CONFIGURATION_IS_NOT_REQUIRED" type="XMLMAPPER">
            <!-- This property is used to select whether MyBatis Generator will generate different Java packages for
      the objects based on the catalog and schema of the introspected table -->
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <table tableName="off_cate" domainObjectName="OffCateModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />
<!--        <table tableName="off_quest" domainObjectName="OffQuestModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />-->
<!--        <table tableName="id_certi" domainObjectName="IdCertiModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />-->
<!--        <table tableName="dict_industry" domainObjectName="DictIndustryModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />-->
<!--        <table tableName="pv" domainObjectName="PVModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />-->
<!--        <table tableName="quest_province_rel" domainObjectName="QuestProRel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" /> <table tableName="quest_city_rel" domainObjectName="QuestCiRel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />-->
<!--        <table tableName="coupon" domainObjectName="CouponModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />-->
<!--        <table tableName="secret_question" domainObjectName="SeQuestionModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />-->
<!--        <table tableName="answer_record" domainObjectName="AnRecordModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />-->
<!--        <table tableName="quest_question" domainObjectName="QuestionModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />
        <table tableName="question_opt" domainObjectName="QuestionOptModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />-->
<!--        <table tableName="reco_post" domainObjectName="RecoPostModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />-->
<!--        <table tableName="collection_quest" domainObjectName="QuestCoModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />
        <table tableName="quest" />-->

<!--        <table tableName="quest_college_rel" domainObjectName="QuestCollRelModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />
        <table tableName="quest_school_rel" domainObjectName="QuestSchRelModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" enableSelectByExample="false" enableUpdateByExample="false" enableCountByExample="false" enableDeleteByExample="false" />-->
<!--        <table tableName="dict_province" domainObjectName="DictProvinceModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" />
        <table tableName="dict_city" domainObjectName="DictCityModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" />
        <table tableName="dict_region" domainObjectName="DictRegionModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" />
        <table tableName="dict_college" domainObjectName="DictCollegeModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" />
        <table tableName="dict_school" domainObjectName="DictSchoolModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" />
        <table tableName="stu_certi" domainObjectName="StuCertiModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" />
        <table tableName="emp_certi" domainObjectName="EmpCertiModel" enableDeleteByPrimaryKey="true" enableUpdateByPrimaryKey="true" />-->

<!--        <table tableName="quest_cate" domainObjectName="QuestCategoryModel" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" />
        <table tableName="quest" domainObjectName="QuestModel" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" />
        <table tableName="quest_assign" domainObjectName="QuestAssignModel" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" />
        <table tableName="finish_request" domainObjectName="FinishRequestModel" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" />
        <table tableName="pay_order" domainObjectName="PayOrderModel" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" />
        <table tableName="cash_acc" domainObjectName="CashAccModel" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" />
        <table tableName="withdraw_apply" domainObjectName="WithdrawApplyModel" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" />
        <table tableName="acc_flow" domainObjectName="AccFlowModel" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" />-->
    </context>
</generatorConfiguration>
