<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <settings>
        <!-- Globally enables or disables any caches configured in any mapper under this configuration -->
        <setting name="cacheEnabled" value="true"/>
        <!-- Sets the number of seconds the driver will wait for a response from the database -->
        <setting name="defaultStatementTimeout" value="3000"/>
        <!-- Enables automatic mapping from classic database column names A_COLUMN to camel case classic Java property names aColumn -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!-- Allows JDBC support for generated keys. A compatible driver is required.
        This setting forces generated keys to be used if set to true,
         as some drivers deny compatibility but still work -->
        <setting name="useGeneratedKeys" value="true"/>
    </settings>

    <!-- Continue going here -->

    <mappers>
        <mapper resource="mapper/ApplicationIntendModelMapper.xml" />
        <mapper resource="mapper/BannerPicModelMapper.xml" />
        <mapper resource="mapper/BulletinModelMapper.xml" />
        <mapper resource="mapper/ImageModelMapper.xml" />
        <mapper resource="mapper/JobPostCategoryModelMapper.xml" />
        <mapper resource="mapper/JobPostModelMapper.xml" />
        <mapper resource="mapper/MemberModelMapper.xml" />
        <mapper resource="mapper/MemberRoleModelMapper.xml" />
        <mapper resource="mapper/NewsModelMapper.xml" />
        <mapper resource="mapper/PrivateNotificationModelMapper.xml" />
        <mapper resource="mapper/SysNotificationModelMapper.xml" />
        <mapper resource="mapper/ResumeModelMapper.xml" />
        <mapper resource="mapper/ReviewModelMapper.xml" />
        <mapper resource="mapper/RoleModelMapper.xml" />
        <mapper resource="mapper/ShPostCategoryModelMapper.xml" />
        <mapper resource="mapper/ShPostModelMapper.xml" />
        <mapper resource="mapper/RecommendedPostModelMapper.xml" />
        <mapper resource="mapper/FeedbackModelMapper.xml" />
        <mapper resource="mapper/CollectionModelMapper.xml" />

        <mapper resource="mapper/TestMapper.xml" />

        <!-- 轻兼职相关 -->
        <mapper resource="mapper/AccFlowModelMapper.xml" />
        <mapper resource="mapper/CashAccModelMapper.xml" />
        <mapper resource="mapper/FinishRequestModelMapper.xml" />
        <mapper resource="mapper/PayOrderModelMapper.xml" />
        <mapper resource="mapper/QuestAssignModelMapper.xml" />
        <mapper resource="mapper/QuestCategoryModelMapper.xml" />
        <mapper resource="mapper/QuestModelMapper.xml" />
        <mapper resource="mapper/WithdrawApplyModelMapper.xml" />

        <mapper resource="mapper/DictCityModelMapper.xml" />
        <mapper resource="mapper/DictProvinceModelMapper.xml" />
        <mapper resource="mapper/DictRegionModelMapper.xml" />
        <mapper resource="mapper/DictCollegeModelMapper.xml" />
        <mapper resource="mapper/DictSchoolModelMapper.xml" />
        <mapper resource="mapper/StuCertiModelMapper.xml" />
        <mapper resource="mapper/EmpCertiModelMapper.xml" />
        <mapper resource="mapper/SysConfigModelMapper.xml" />


        <mapper resource="mapper/SeqAvatarModelMapper.xml" />
        <mapper resource="mapper/SeqShModelMapper.xml" />
        <mapper resource="mapper/SeqJobModelMapper.xml" />

        <mapper resource="mapper/QuestCollRelModelMapper.xml" />
        <mapper resource="mapper/QuestSchRelModelMapper.xml" />

        <mapper resource="mapper/TljAuditModelMapper.xml" />
        <mapper resource="mapper/QuestCoModelMapper.xml" />

        <mapper resource="mapper/RecoPostModelMapper.xml" />

        <mapper resource="mapper/QuestionModelMapper.xml" />
        <mapper resource="mapper/QuestionOptModelMapper.xml" />
        <mapper resource="mapper/AnRecordModelMapper.xml" />
        <mapper resource="mapper/SeQuestionModelMapper.xml" />

    </mappers>
</configuration>
