<!doctype html>
<html class="no-js">
<head>
	<meta charset="utf-8">
	<title>桃李街</title>
	<meta name="description" content="">

	<meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

	

	<link rel="stylesheet" href="/assets/styles/main.css">


</head>
<body>


	<div class="container page">
		<div class="header">
			<!-- 改为dropdown -->
			<ul class="nav pull-right">

				<li>
					<a href="#"><span class="glyphicon glyphicon-map-marker"></span>山东理工大学
						<span class="caret"></span></a>
					</li>
				</ul>
				<h3 class="text-muted">桃李街</h3>
			</div>



			<div class="section">
				<div class="title">
					<p>颜色表</p>	
				</div>
				<ul class="introduce">
					<li class="circle1">
						<a href="">
							<span class="bg-gray">gray</span>
						</a>
					</li>
					<li class="circle1">
						<a href="">
							<span class="bg-red">red</span>
						</a>
					</li>
					<li class="circle1">
						<a href="">
							<span class="bg-blue">blue</span>
						</a>
					</li>
					<li class="circle1">
						<a href="">
							<span class="bg-green">green</span>
						</a>
					</li>
					<li class="circle1">
						<a href="">
							<span class="bg-yellow">yellow</span>
						</a>
					</li>
					<li class="circle1">
						<a href="">
							<span class="bg-purple">purple</span>
						</a>
					</li>
					<li class="circle1">
						<a href="">
							<span class="bg-grown">grown</span>
						</a>
					</li>
					<li class="circle1">
						<a href="">
							<span class="bg-orange">orange</span>
						</a>
					</li>
				</ul>
			</div>


			<div class="footer">
				<p style="text-align:center">Copyright@2014——山东理工大学桃李街版权所属</p>
			</div>
		</div>
		<script src="/assets/scripts/vendor.js"></script>


	</body>
	</html>
