<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.taolijie.dao.mapper.ImageResourceMapper">

    <resultMap type="ImageResourceModel" id="imageResourceRS">
        <id property="id" column="id"/>
        <result property="fileName" column="file_name"/>
        <result property="extension" column="extension"/>
        <result property="binData" column="bin_data"/>
    </resultMap>

    <select id="getImageInBatch" resultMap="imageResourceRS">
        SELECT * FROM image_resource WHERE id IN
          <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
    </select>

    <insert id="saveImage" keyProperty="id" useGeneratedKeys="true">
        INSERT INTO image_resource (created_time, bin_data, file_name, extension)
                VALUES (#{createdTime}, #{bin_data}, #{fileName}, #{extension})
    </insert>

    <delete id="deleteInBatch">
        DELETE FROM image_resource WHERE id IN
        <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>

</mapper>