<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fh.taolijie.dao.mapper.SHPostMapper">

    <resultMap type="SHPostModel" id="shPostRS">
        <id property="id" column="id"/>
        <result property="title" column="title"/>

        <result property="expiredTime" column="expired_time"/>
        <result property="postTime" column="post_time"/>

        <result property="depreciationRate" column="depreciation_rate" />
        <result property="originalPrice" column="original_price" />
        <result property="sellPrice" column="sell_price" />
        <result property="picturePath" column="picture_path" />
        <result property="description" column="description" />

        <result property="likes" column="likes" />
        <result property="dislikes" column="dislikes" />
        <result property="complaint" column="complaint" />
        <result property="pageView" column="pageView" />
        <result property="verified" column="verified" />

        <result property="categoryId" column="second_hand_post_category_id"/>
        <result property="memberId" column="member_id" />

        <association property="category" column="second_hand_post_category_id" resultMap="com.fh.taolijie.dao.mapper.SHPostCategoryMapper.shPostCategoryRS" />
        <association property="member" column="member_id" resultMap="com.fh.taolijie.dao.mapper.MemberMapper.memberRS"/>


    </resultMap>

    <select id="getPostByMemberId" resultMap="shPostRS" resultType="ArrayList">
        SELECT post.*, cate.*, mem.* FROM second_hand_post post
	      LEFT JOIN second_hand_post_category cate ON cate.id = post.id
	      LEFT JOIN member mem ON mem.id = post.member_id
        WHERE post.member_id = #{id}
        LIMIT #{pageNumber}, #{pageSize}
    </select>

    <select id="getPostByIdWithoutReview" resultMap="shPostRS" >
        SELECT post.*, cate.*, mem.* FROM second_hand_post post
	      LEFT JOIN second_hand_post_category cate ON cate.id = post.id
	      LEFT JOIN member mem ON mem.id = post.member_id
        WHERE post.id = #{id}
    </select>

    <insert id="saveJobPost">
        INSERT INTO second_hand_post (complaint, depreciation_rate, description, dislikes, expired_time, likes, original_price, page_view, picture_path, post_time, sell_price, title, verified, second_hand_post_category_id, member_id)
                VALUES (#{complaint}, #{depreciationRate}, #{description}, #{dislikes}, #{expiredTime}, #{likes}, #{originalPrice}, #{pageView}, #{picturePath}, #{postTime}, #{sellPrice}, #{title}, #{verified}, #{secondHandPostCategoryId}, #{memberId})
    </insert>

    <update id="updateBySelective">
        UPDATE second_hand_post
          <set>
              <if test="title != null">title = #{title},</if>
              <if test="expiredTime != null">expired_time = #{expiredTime},</if>
              <if test="postTime != null">post_time = #{postTime},</if>

              <if test="depreciationRate">depreciation_rate = #{depreciationRate},</if>
              <if test="originalPrice">original_price = #{originalPrice},</if>
              <if test="sellPrice">sell_price = #{sellPrice},</if>
              <if test="picturePath">picture_path = #{picturePath},</if>
              <if test="description">description = #{description},</if>

              <if test="likes != null">likes = #{likes},</if>
              <if test="dislikes != null">dislikes = #{dislikes},</if>
              <if test="complaint != null">complaint = #{complaint},</if>

              <if test="pageView != null">page_view = #{pageView},</if>
              <if test="verified != null">verified = #{verified},</if>

              <if test="categoryId != null">second_hand_post_category_id = #{categoryId},</if>
              <if test="memberId != null">member_id = #{memberId},</if>
          </set>
        WHERE id = #{id}
    </update>

    <delete id="deleteByBatch">
        DELETE FROM second_hand_post WHERE
         id IN
          <foreach collection="list" item="id" open="(" separator="," close=")">#{id}</foreach>
    </delete>
</mapper>