.detail .title .label {
    font-size: 16px;
    color: #858e8f;
}
.detail > .info .money{
    padding: 23px 0 23px 0;
}
.detail .info .money .wage{
    display: inline-block;
    color: #fa6a38;
    font-size: 42px;
    padding-right: 5px;
}
.detail .info .money .time-to-pay{
    color: #333;
    margin-left: 20px;
    font-size: 1em;
    display: inline-block;
}
.detail .context-title{
    color: #858e8f;
    display: inline-block;
    margin-right: 15px;
}
.detail .content a{
    font-size: 17px;
    display: inline-block;
    float: right;
    margin-right: 20px;
}
.detail .content div.span{
    border: none;
    padding-top: 0px;
}
.detail > .description{
    border: 0px;
}
.detail > .description .pin-title{
    margin-bottom: 20px;
}
.detail .review-bar input[type=submit]{
    padding: 0px;
}
.detail .review-bar input[type=submit]:hover{
    background-color: #7ecdb4;
}
.detail .review-bar input[type=submit]:active{
    background-color: #76c3aa;
}