.main .nav-bar > li:hover {
    background-color: #4ccda4;
}
.shlist .shs{
    margin: 0 -20px 0 -13px;
}

/*.shlist .shs .sh-slip:hover{*/
    /*/!*background-color: #F1F1F1;*!/*/
    /*-webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);*/
/*}*/
.shlist .shs .sh-slip .shs-pic{
    overflow: hidden;
}
.shlist .shs .sh-slip:hover img{
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
.main .nav-bar .choose-menu.menu2 span{
    width: 49%;
    text-align: left;
    padding-left: 20px;
}



