.main .nav-bar > li:hover {
    background-color: #4ccda4;
}
.shlist .shs{
    margin: 0 -20px 0 -13px;
}

.shlist .shs .sh-slip:hover{
    background-color: #F1F1F1;
}
.main .nav-bar .choose-menu.menu2 span{
    width: 49%;
    text-align: left;
    padding-left: 20px;
}
.shs .sh-cate{
    color: #4ccda4;
}
.shs .sh-cate span{
    border: 1px solid;
    padding: 2px;
    border-radius: 3px;
    margin-left: 5px !important;
}
.shs .sh-info{
    color: #9da4a5;
    margin: 0 0 0 10px !important;
    width: 160px !important;
    height: auto;
}
.shs .sh-info span{
    float: right;
    margin: 0 !important;

}


