/*$icon-font-path: "../bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";*/
/**
*
* 常量
*
**/
/*颜色*/
/*二级页面鼠标移入list的颜色*/
/* 字体 */
/*隐藏的搜索按钮右偏移距离*/
/**主题色**/
.theme-color {
  color: #fa6a38 !important; }

.theme-color-bd {
  border-color: #fa6a38 !important; }

.theme-color-bg {
  background-color: #fa6a38 !important; }

/*白*/
.white {
  color: #fff !important; }

.white-bg {
  background-color: #fff !important; }

/*深绿*/
.dark-green {
  color: #44bb95 !important; }

.dark-green-bd {
  border-color: #44bb95 !important; }

.dark-green-bg {
  background-color: #44bb95 !important; }

/*蓝*/
.blue {
  color: #3299de !important; }

.blue-bd {
  border-color: #3299de !important; }

.blue-bg {
  background-color: #3299de !important; }

/*浅绿*/
.light-green {
  color: #84cc5c !important; }

.light-green-bd {
  border-color: #84cc5c !important; }

.light-green-bg {
  background-color: #84cc5c !important; }

/*红*/
.red {
  color: #f36362; }

.red-bd {
  border-color: #f36362 !important; }

.red-bg {
  background-color: #f36362 !important; }

/*左侧物品摆动效果*/
@-webkit-keyframes hinge {
  0% {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

  20% {
    -webkit-transform: rotate3d(0, 0, 1, -4deg);
    transform: rotate3d(0, 0, 1, -4deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, 2deg);
    transform: rotate3d(0, 0, 1, 2deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1; }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, -1deg);
    transform: rotate3d(0, 0, 1, -1deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1; }

  100% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

@keyframes hinge {
  0% {
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

  20% {
    -webkit-transform: rotate3d(0, 0, 1, -4deg);
    transform: rotate3d(0, 0, 1, -4deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

  40% {
    -webkit-transform: rotate3d(0, 0, 1, 2deg);
    transform: rotate3d(0, 0, 1, 2deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1; }

  60% {
    -webkit-transform: rotate3d(0, 0, 1, -1deg);
    transform: rotate3d(0, 0, 1, -1deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }

  80% {
    -webkit-transform: rotate3d(0, 0, 1, 0deg);
    transform: rotate3d(0, 0, 1, 0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    opacity: 1; }

  100% {
    -webkit-transform: translate3d(0, 0px, 0);
    transform: translate3d(0, 0px, 0);
    opacity: 1; } }

.browsehappy {
  margin: 2px 0;
  background: #ccc;
  color: #000;
  padding: 2px 0; }

/* Space out content a bit */
body {
  background-color: #f4f4f4;
  color: #333333; }

/*浮动*/
.fl {
  float: left; }

.fr {
  float: right; }

/*去边框*/
.no-border {
  border: 0px !important; }

/*去下边框*/
.no-border-bottom {
  border-bottom: 0px !important; }

/*没边距*/
.no-margin {
  margin: 0px !important; }

.no-margin-right {
  margin-right: 0px !important; }

.auto {
  overflow: auto; }

* {
  font-family: "Arial", "Microsoft YaHei", "SimSun";
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

a:link, a:hover {
  text-decoration: none; }

a {
  color: #66ccff; }

ul {
  list-style: none;
  margin: 0; }

p {
  margin: 0; }

.container {
  width: 1000px !important;
  padding: 0px;
  margin: 0 auto; }

.row .col-xs-2 {
  width: 16.6667%; }

.row .col-xs-4 {
  width: 33.3333%; }

.row .col-xs-2, .row .col-xs-4 {
  float: left; }

/*顶栏*/
.top-bar {
  padding: 0 10px 0 10px;
  width: 1000px;
  margin: 0 auto;
  height: 40px;
  color: #fa6a38;
  font-size: 17px;
  line-height: 40px; }
  .top-bar a {
    color: #fa6a38; }
  .top-bar p {
    float: left; }
  .top-bar ul {
    float: right;
    display: inline; }
    .top-bar ul li {
      float: left; }

/* Custom page header */
.header {
  background-color: #fff;
  height: 113px;
  line-height: 113px; }
  .header .header-content {
    width: 1000px;
    margin: 0 auto; }

.header-content .logo {
  float: left; }

.header-content .search-bar {
  width: 500px;
  margin: 30px 0 0 50px;
  float: left;
  /* .actived{
		margin-left: -120px;
		width: 234px;
	}*/ }
  .header-content .search-bar input {
    float: left;
    height: 50px;
    border: none;
    border-top: 1px solid #fe0000;
    border-bottom: 1px solid #fe0000;
    width: 336px;
    outline: none;
    line-height: 50px;
    font-size: 17px; }
  .header-content .search-bar .search-left {
    float: left;
    width: 30px;
    height: 50px;
    border: 1px solid #fe0000;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-right: none; }
  .header-content .search-bar .search-right {
    float: left;
    width: 114px;
    height: 50px;
    background-color: #fa6a38;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    line-height: 50px;
    color: #fff;
    font-size: 21px;
    text-align: right;
    padding-right: 40px;
    cursor: default;
    transition: all 0.3s ease-in;
    overflow: hidden;
    position: relative; }
  .header-content .search-bar .active-text {
    height: inherit;
    width: 50px;
    right: 114px;
    position: absolute;
    display: inline-block; }
    .header-content .search-bar .active-text span {
      cursor: pointer;
      font-size: 18px; }
    .header-content .search-bar .active-text span:hover {
      border: 1px solid #fff;
      border-radius: 10px;
      padding: 3px;
      margin-right: -4px; }
  .header-content .search-bar .jianzhi {
    right: 164px; }
  .header-content .search-bar .search-right:hover {
    margin-left: -120px;
    width: 234px; }

.header-content .text {
  float: right;
  font-size: 20px;
  color: #fa6a38;
  margin-right: 10px; }
  .header-content .text span {
    display: inline-block;
    padding-left: 40px;
    font-size: 20px; }
  .header-content .text a {
    padding-bottom: 5px;
    /*border: 2px solid $theme-color;*/
    color: #fa6a38; }
  .header-content .text a:hover {
    border-bottom: 2px solid #fa6a38; }

/*图片轮播*/
.slider {
  margin-top: 18px;
  background-color: #1dd2af;
  height: 196px; }

.demo_nav {
  padding: 10px;
  width: 80%;
  height: 80px;
  margin: 10px auto; }

.demo_nav li {
  float: left;
  padding: 4px 10px; }

.demo_nav li a.cur {
  font-weight: bold; }

.demo {
  clear: both;
  position: relative;
  margin: 20px auto;
  width: 80%; }

ul.bxslider li {
  position: relative; }

ul.bxslider li img {
  margin: 0 auto;
  height: 196px;
  width: 100%; }

.side {
  margin-top: 18px;
  float: left;
  width: 163px; }

/*左侧导航*/
.side .services {
  font-size: 18px;
  min-height: 380px;
  background-color: #fff;
  text-align: center; }
  .side .services p {
    background-color: #fa6a38;
    height: 60px;
    width: 100%;
    line-height: 60px;
    color: #fff; }
  .side .services ul li {
    display: block;
    height: 60px;
    line-height: 60px;
    border-bottom: 1px solid #d5d5d5; }

/*校园聚焦点*/
.side .news {
  margin-top: 30px;
  font-size: 18px;
  min-height: 380px;
  text-align: center; }
  .side .news p {
    background-color: #fa6a38;
    height: 60px;
    width: 100%;
    line-height: 60px;
    color: #fff;
    position: relative; }
  .side .news ul li {
    display: block;
    width: 163px;
    height: 138px;
    margin-top: 15px; }
  .side .news ul li:hover {
    -webkit-animation: hinge 1s;
    animation: hinge 1s; }
  .side .news .news-1 {
    background-image: url("/images/1.gif"); }
  .side .news .news-2 {
    background-image: url("/images/2.gif"); }
  .side .news .news-3 {
    background-image: url("/images/3.gif"); }
  .side .news .news-arrow {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    left: 70px;
    border-top: 8px solid;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    color: #fa6a38; }

/*正文部分*/
.main {
  float: left;
  width: 810px;
  margin-left: 27px;
  margin-top: 18px; }

/*导航*/
.main .nav-bar {
  background-color: #fa6a38;
  height: 60px;
  display: block; }
  .main .nav-bar > li {
    float: left;
    display: block;
    width: 33.3%;
    text-align: center;
    font-size: 18px;
    line-height: 60px;
    color: #fff;
    border-left: #fb7447 solid 1px;
    border-right: #e46135 solid 1px;
    cursor: pointer;
    position: relative; }
  .main .nav-bar .show {
    opacity: 1 !important; }
  .main .nav-bar .choose-menu {
    transition: all 0.2s ease-out;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 200px;
    background-color: #f4f4f4;
    /*边框效果*/
    border-radius: 0px;
    box-shadow: #e1e1e1 -3px 2px 3px; }
    .main .nav-bar .choose-menu li {
      line-height: 50px;
      font-size: 17px;
      text-align: left;
      padding-left: 35px;
      display: block;
      color: #333;
      border-bottom: 1px solid #d3d3d3; }
    .main .nav-bar .choose-menu li.actived {
      color: #fa6a38; }

/* 块 */
.segment {
  background-color: #fff;
  padding-left: 20px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  padding-top: 20px; }

/*贴在右方的小标题*/
.pin-title {
  width: 127px;
  background-color: #fa6a38;
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  margin-left: -32px;
  color: #fff;
  display: inline-block;
  position: relative; }

.pin-arrow {
  position: absolute;
  width: 0;
  height: 0;
  left: 0px;
  top: -7px;
  border-bottom: 7px solid;
  border-left: 14px solid transparent;
  color: #ba421d; }

.dark-green-arrow {
  color: #2a8b6c; }

/*分页条*/
.page {
  margin-top: 20px;
  width: inherit;
  text-align: center; }
  .page ul {
    display: inline-block;
    margin: 0 auto;
    overflow: auto; }
    .page ul li {
      float: left;
      margin-right: 10px; }
      .page ul li a {
        display: block;
        background-color: #44bb95;
        width: 45px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        color: #fff;
        font-size: 16px; }
      .page ul li .next {
        width: 60px; }
      .page ul li .active {
        background-color: #fa6a38; }

/* Custom page footer */
.footer {
  margin-top: 50px;
  background-color: #656766;
  min-height: 200px;
  padding-top: 20px; }
  .footer .footer-content {
    font-size: 16px;
    line-height: 25px;
    padding-bottom: 20px;
    margin: 0 auto;
    color: #fff;
    width: 1000px; }
    .footer .footer-content h2 {
      margin-bottom: 10px; }
    .footer .footer-content .row {
      margin: 20px 0 0px 0px; }
    .footer .footer-content a {
      color: #ffffff; }

.index .segment {
  margin-bottom: 10px; }

.index .pin-title {
  font-size: 18px;
  width: 140px; }

.index .jobs {
  height: 264px; }

.index .job-slip {
  width: 365px;
  height: 60px;
  line-height: 60px;
  float: left;
  margin-right: 30px;
  margin-bottom: 20px; }
  .index .job-slip span {
    float: left; }
  .index .job-slip .content {
    border: 1px solid #e6e6e6;
    width: 305px;
    padding-left: 20px; }
  .index .job-slip span.cate {
    background-color: #eebc5b;
    height: 60px;
    width: 60px;
    display: inline-block;
    text-align: center;
    color: #fff; }

.index .job-slip:hover {
  cursor: pointer; }

.index .shs, .shlist .shs {
  overflow: auto; }

.index .sh-slip, .shlist .sh-slip {
  margin-bottom: 20px;
  width: 261px;
  height: 314px;
  background-color: #fff;
  margin-right: 13px; }
  .index .sh-slip img, .shlist .sh-slip img {
    width: 100%;
    height: 194px; }
  .index .sh-slip > p, .shlist .sh-slip > p {
    margin-top: 12px;
    margin-left: 10px;
    font-size: 18px; }
  .index .sh-slip > span, .shlist .sh-slip > span {
    width: 68px;
    height: 68px;
    border-radius: 68px;
    background-color: #5fc4a4;
    margin-top: 5px;
    margin-right: 10px;
    color: #fff;
    line-height: 68px;
    text-align: center;
    font-size: 18px; }
  .index .sh-slip div p, .index .sh-slip div span, .shlist .sh-slip div p, .shlist .sh-slip div span {
    margin-top: 20px;
    line-height: 25px;
    margin-left: 10px;
    font-size: 15px; }

.index .about div {
  float: left;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 80px;
  text-align: center; }
.index .about span {
  width: 97px;
  height: 97px;
  border-radius: 97px;
  cursor: pointer;
  line-height: 97px;
  background-color: #e3e3e3;
  font-size: 40px;
  color: #888888;
  display: inline-block; }
.index .about p {
  margin-top: 10px;
  color: #666; }

/*兼职二级页面*/
.joblist .lists, .resumelist .lists {
  background-color: #fff; }

.joblist .lists .list:hover {
  /*变色*/
  background-color: #f6f6f6;
  border-bottom: 1px solid #fb8a8c; }

.joblist .lists .list:hover .list-type {
  background-color: #fff;
  border: 2px solid #eebc5b;
  transition: all 0.2s ease-in; }

.joblist .lists .list:hover .list-type span {
  color: #eebc5b;
  line-height: 61px;
  transition: all 0.2s ease-in; }

.joblist .lists .list {
  padding: 10px 0 10px 0;
  overflow: auto;
  border-bottom: 1px solid #d5d5d5; }
  .joblist .lists .list .list-type {
    float: left;
    background-color: #eebc5b;
    width: 65px;
    height: 65px;
    border-radius: 65px;
    margin: 0 15px 0 15px;
    text-align: center; }
    .joblist .lists .list .list-type span {
      line-height: 65px;
      font-size: 18px;
      color: #fff; }
  .joblist .lists .list .list-title {
    font-weight: bold;
    font-size: 16px;
    padding-top: 13px; }
    .joblist .lists .list .list-title span {
      font-size: 14px;
      font-weight: normal;
      color: #fa6a38; }
  .joblist .lists .list > span {
    color: #c1c1c1;
    font-size: 15px; }

.detail > .detail-bar, .detail > .title, .detail > .info, .detail > .description, .detail > .contact, .detail > .segment, .detail > .comment {
  padding-left: 37px;
  font-size: 19px; }

.detail .pin-title {
  margin-left: -50px; }

.detail p > span {
  color: #474747; }

.detail > .detail-bar {
  background-color: #fff;
  height: 68px;
  line-height: 60px;
  border-bottom: 8px solid #fa6a38;
  font-size: 20px;
  color: #fa6a38;
  text-align: center; }
  .detail > .detail-bar span {
    font-size: 24px; }
  .detail > .detail-bar p {
    padding-right: 20px; }

.detail > .title {
  padding-top: 22px;
  border-bottom: 2px solid #fa6a38;
  background-color: #fff; }
  .detail > .title p {
    border-left: 8px solid #fa6a38;
    padding-left: 10px;
    font-size: 24px; }
  .detail > .title span {
    display: inline-block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 70px;
    font-size: 17px;
    color: #fa6a38; }

.detail > .info {
  background-color: #fff;
  padding-left: 37px;
  padding-bottom: 30px; }
  .detail > .info p {
    padding-top: 10px; }
  .detail > .info .money {
    padding-top: 21px;
    padding-bottom: 5px; }
    .detail > .info .money span {
      display: inline-block;
      color: #fa6a38;
      font-size: 42px;
      padding-right: 20px; }

.detail > .description {
  margin-top: 22px;
  padding-top: 20px;
  background-color: #fff;
  border-bottom: 1px solid #c0c0c0;
  padding-bottom: 30px; }
  .detail > .description p {
    padding-top: 10px; }

.detail .contact {
  background-color: #fff;
  padding-top: 30px;
  padding-bottom: 30px; }
  .detail .contact p {
    border-left: 8px solid #fa6a38;
    padding-left: 10px;
    display: inline-block; }
  .detail .contact .phone {
    border: 0;
    padding-left: 40px; }
    .detail .contact .phone span {
      color: #fa6a38; }

/*下面是简历的三级页面css，从之前手机端复制过来的，所以代码看起来有些魔幻*/
/*======resume-info======*/
.resume-info {
  margin-left: 190px;
  margin-top: 20px;
  margin-bottom: 30px;
  border-left: 1px solid #e7e7e7;
  padding-left: 20px;
  font-size: 20px;
  line-height: 32px;
  color: #000; }

.resume-info img {
  float: left;
  margin-left: -190px;
  margin-top: 10px;
  width: 150px;
  height: 150px;
  border-radius: 155px; }

.resume-detail {
  border-top: 2px solid;
  border-bottom: 2px solid;
  width: 100%;
  position: relative;
  font-size: 18px;
  display: table; }
  .resume-detail p {
    margin-bottom: 0px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    background-color: #fff;
    word-break: break-all;
    line-height: 30px; }
  .resume-detail .title {
    width: 150px;
    margin: 0;
    color: #fff;
    font-size: 22px;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    display: table-cell; }

.resume-arrow {
  margin-bottom: 15px;
  display: block;
  width: 0;
  height: 0;
  margin-left: 55px;
  border-top: 14px solid;
  border-right: 20px solid transparent;
  border-left: 20px solid transparent; }

.resume-contact p {
  padding-top: 8px;
  padding-bottom: 8px; }

/**下面是二手物品部分**/
.sh-main.segment {
  padding-left: 0px;
  padding-top: 0px; }

.sh-main .pics {
  width: 600px;
  height: 450px;
  background-color: #ccc;
  overflow: auto; }

.sh-info {
  overflow: auto;
  width: 200px;
  height: 450px;
  margin-right: 5px; }
  .sh-info p.sh-price {
    margin: 0 auto;
    width: 155px;
    height: 50px;
    font-size: 30px;
    color: white;
    line-height: 50px;
    text-align: center;
    margin-top: 20px; }

/*两个箭头重叠做成空心箭头*/
.bubble-arrow {
  border-color: #44bb95 transparent transparent transparent;
  border-width: 10px;
  border-style: solid;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -21px;
  left: 69px; }

.bubble-arrow-inner {
  border-color: #fff transparent transparent transparent;
  border-width: 9px;
  border-style: solid;
  width: 0;
  height: 0;
  position: absolute;
  bottom: -18px;
  left: 70px; }

/*这部分主要是二手右侧*/
.sh-info .sh-block {
  color: #666;
  overflow: auto;
  margin: 15px auto 0;
  width: 155px; }
  .sh-info .sh-block img {
    width: 38px;
    height: 38px;
    border: 1px solid #fa6a38;
    border-radius: 38px;
    padding: 3px;
    float: left;
    margin-right: 15px; }
  .sh-info .sh-block .title {
    text-align: center;
    border-bottom: 1px solid #44bb95;
    padding-bottom: 5px;
    margin-bottom: 18px;
    position: relative;
    color: #44bb95;
    position: relative; }
  .sh-info .sh-block .name span {
    font-size: 14px;
    color: #fa6a38; }
  .sh-info .sh-block .name p {
    font-size: 15px; }
  .sh-info .sh-block .sh-contact {
    margin-left: 10px;
    font-size: 17px; }
    .sh-info .sh-block .sh-contact p {
      margin-top: 10px; }
  .sh-info .sh-block .place {
    text-align: center;
    font-size: 16px;
    padding-left: 5px;
    padding-right: 5px; }
  .sh-info .sh-block span.dot {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: #44bb95;
    border-radius: 12px;
    position: absolute;
    left: 12px;
    top: 7px; }

/*兼职标题，以及发布时间*/
.sh-main > span {
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: #666;
  margin-right: 25px; }

.sh-main > span.fr {
  margin-top: 25px; }

.sh-main > .sh-title {
  font-size: 24px;
  margin-left: 25px; }

.sh-description div {
  margin-top: 20px;
  overflow: auto; }
.sh-description img {
  width: 67px;
  height: 67px;
  border-radius: 67px;
  float: left;
  padding: 4px;
  border: 1px solid #fa6a38; }
.sh-description span {
  float: left;
  display: inline-block;
  margin-left: 20px;
  margin-top: 12px;
  max-width: 660px;
  color: #666; }

/*评论部分*/
.comment {
  padding-top: 20px;
  position: relative;
  margin-top: 20px;
  background-color: #fff;
  height: 590px; }

.comment .operates {
  position: relative;
  width: 444px;
  height: 120px;
  left: 50%;
  margin-left: -222px; }
  .comment .operates .operate {
    color: #fa6a38;
    float: left;
    margin-right: 50px;
    text-align: center; }
    .comment .operates .operate span {
      display: inline-block;
      border: 1px solid #fa6a38;
      width: 60px;
      height: 60px;
      line-height: 60px;
      border-radius: 60px;
      font-size: 30px; }
    .comment .operates .operate .text {
      font-size: 15px;
      border: 1px solid #c0c0c0;
      color: #c0c0c0; }
    .comment .operates .operate p {
      margin-top: 8px; }

.comment .content img, .comment .review-bar img {
  width: 67px;
  height: 67px;
  border-radius: 67px;
  border: 1px solid #fa6a38;
  padding: 4px;
  float: left;
  margin-right: 20px; }

.comment .content div {
  overflow: auto;
  border-top: 1px dashed #bdbdbd;
  border-bottom: 1px dashed #bdbdbd;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 30px; }
.comment .content p {
  padding-top: 8px;
  padding-bottom: 8px; }
.comment .content span {
  color: #676767;
  font-size: 17px; }

.comment .review-bar {
  margin-top: 30px; }
  .comment .review-bar img {
    margin-top: -5px; }
  .comment .review-bar input {
    width: 380px;
    padding-left: 10px;
    outline: none;
    height: 57px;
    border: 2px solid #80d0b7;
    font-size: 19px;
    float: left;
    color: #80d0b7; }
  .comment .review-bar span {
    display: inline-block;
    background-color: #80d0b7;
    height: 57px;
    width: 89px;
    color: #fff;
    line-height: 57px;
    text-align: center;
    cursor: pointer; }

.shlist .nav-bar {
  background-color: #5fc4a4; }
  .shlist .nav-bar > li {
    border-left: #56b396 solid 1px;
    border-right: #6ac7aa solid 1px; }

/*sh相关部分css放在index.scss中*/
.shlist .sh-slip {
  margin-top: 20px !important;
  margin-bottom: 0px; }

.resumelist .list {
  display: table;
  width: 100%; }

.resumelist .list:hover {
  border-bottom: 1px solid #b68879 !important;
  background-color: #f6f6f6; }

.resumelist .lists .list {
  cursor: pointer;
  padding: 10px 0 10px 0;
  overflow: auto;
  border-bottom: 1px solid #d5d5d5; }
  .resumelist .lists .list img {
    float: left;
    background-color: #eebc5b;
    width: 107px;
    height: 107px;
    border-radius: 107px;
    margin: 0 15px 0 15px;
    text-align: center; }
    .resumelist .lists .list img span {
      line-height: 65px;
      font-size: 18px;
      color: #fff; }
  .resumelist .lists .list > div {
    display: table-cell;
    vertical-align: middle;
    min-width: 650px; }
  .resumelist .lists .list .intent-title {
    background-color: #fa6a38;
    color: #fff;
    display: inline-block;
    padding: 2px;
    border-radius: 5px; }
  .resumelist .lists .list .info, .resumelist .lists .list p {
    margin-top: 10px;
    margin-bottom: 8px;
    font-size: 20px; }
    .resumelist .lists .list .info i, .resumelist .lists .list .info span, .resumelist .lists .list p i, .resumelist .lists .list p span {
      font-weight: normal;
      font-size: 17px; }
  .resumelist .lists .list .fr {
    margin-right: 30px;
    text-align: right; }
    .resumelist .lists .list .fr span {
      font-size: 15px;
      color: #9a9a9a;
      padding-left: 30px; }
